#emailList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top:150px; 
  }
  
  .email-container {
    width: 45%; 
    border: 1px solid #ffffff;
    font-family: 'Arial', sans-serif;
    margin: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  }
  
  .email-header {
    background-color: #f9f9f9;
    border-bottom: 1px solid #e0e0e0;
    padding: 10px;
    font-size: 14px;
  }
  
  .email-header .email-from,
  .email-header .email-to,
  .email-header .email-subject {
    display: block;
    margin-bottom: 5px;
  }
  
  .email-body {
    padding: 15px;
    line-height: 1.5;
  }
  
  .email-body p {
    margin-bottom: 0px;
  }
  
  .email-closing, .email-attachment, .email-link {
    padding-left: 15px;
    font-size: 14px;
    line-height: 1.5;
  }

  .email-closing, .email-attachment, .email-link {
      border: 1px solid #ffffff; 
  }
