#emailList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top:150px; 
  }
  
  .email-container {
    width: 45%; 
    border: 1px solid #ffffff;
    font-family: 'Arial', sans-serif;
    margin: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
  }
  
  .email-container:hover {
    background-color: #f0f0f0; 
    box-shadow: 0 0px 5px rgba(0,0,0,1.0); 
}
  
  .email-header {
    background-color: #f9f9f9;
    border-bottom: 1px solid #e0e0e0;
    padding: 10px;
    font-size: 14px;
  }
  
  .email-header .email-from,
  .email-header .email-to,
  .email-header .email-subject {
    display: block;
    margin-bottom: 5px;
  }
  
  .email-body {
    padding: 15px;
    line-height: 1.5;
  }
  
  .email-body p {
    margin-bottom: 0px;
  }
  
  .email-closing, .email-attachment, .email-link {
    padding-left: 15px;
    font-size: 14px;
    line-height: 1.5;
  }

  .email-closing, .email-attachment, .email-link {
      border: 1px solid #ffffff; 
  }

  .modal {
    display: none; 
    position: fixed; 
    z-index: 2; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
  }

  .modal-content {
    position: absolute;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%; 
    height: 50%; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); 
  }

  .close {
    color: #aaa;
    float: right; 
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
