.profileSection{
    margin-top: 130px;
    width:75%;
    margin-left:auto;
    margin-right:auto;
}

.streakCard{
    width:60% !important;
    margin-left:auto;
    margin-right:auto;
    background-color:rgba(154, 206, 255, 0.5);
}

.playerCard{
    width: 100%;
    margin-left:auto;
    margin-right:auto;
    background-color:lightgray;
}